<ul>
    <li><a href="/">Home</a></li>
    {{#if username}}
    <li><a href="/auth/logout">Logout</a></li>
        <li><a href="#">{{link}}</a></li>

    {{else}}
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
    {{/if}}
</ul>