
<div class="topnav" id="myTopnav">


 <a href="/">Home</a>
    {{#if username}}

    <a href="/auth/logout">Logout</a>
    {{#if role}}

    <a href="/dashboard">Teacher Space</a>

    <a href="/manageTest">Manage tests</a>
    <a href="#">Manage subject</a>
    
    {{else}}
    
    <a href="/studentSpace">Student Space</a>

    {{/if}}
    {{else}}
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    {{/if}}
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>