<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/navbar.css">

    <title>Dashboard</title>
</head>

<body>
    <header>
        <div id="abc">

            {{> header}}

        </div>
    </header>

    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <div class="wrapper">


        <div class="container">
            <div class="btnsContainer">
                <button id="AddQuestionBtn">Add Question</button>
                <button id="QuestionListBtn">Question List</button>
            </div>
            <div id="addQuestion" class="block addQuestion">
                <div class="AddQuestionWrapper">
                    <form>
                        <h3>INSERT A QUESTION</h3>
                        <label for="question">Question</label>
                        <input type="text" placeholder="Enter the Question" name="question" class="inputText"
                            id="question">
                             <input type="text" placeholder="Enter the Correct Answer" name="question" class="inputText"
                            id="question">
                        <div class="nanswersWrapper">
                            <input type="number" placeholder="Number of answers" name="nAnswers"
                                id="nAnswers">
                                <input type="button" id="divBtn" style="position: relative;right:5px;" value="Submit">


                        </div>
                            <div id="inputAnswers" class="inputAnswers">

                            </div>
                        <button type="submit" style="position: relative;right:5px;">Log In</button>
                    </form>
                </div>
            </div>
            <div id="questionsList" class="block questionsList"></div>

        </div>

    </div>
    <script src="/js/navbar.js"></script>
    <script src="/js/toggle.js"></script>
    <script src="/js/dashboard.js"></script>
    


</body>

</html>