<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/navbar.css">

    <title>Home Page</title>
</head>

<body>
    <header>
        <div id="abc">
            {{> header}}
        </div>
    </header>

    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <div class="wrapper">
        <form action="/auth/login" method="post">
            <h3>Login Here</h3>
            {{#if message}}
            <h4 class="message">{{message}}</h4>
            {{/if}}
            <label for="username">Email</label>
            <input type="text" placeholder="Enter your email" name="email" id="email">

            <label for="password">Password</label>
            <input type="password" placeholder="Enter your password" name="password" id="password">

            <button>Log In</button>
        </form>
    </div>
    <script src="/js/navbar.js"></script>
</body>

</html>